body{

background: #499bea;

}
.chatRoom{
	float: left;
    width: 60%;
    border: 1px solid #dcdcdc;
    min-height: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
	padding:20px;
	margin-top: 40px;
	background: #42bd57;
}
.chatHeader{
	float:left;
	font-weight:400;
	clear:both;
	font-size:18px;
	width:100%;
	color:#ffffff;
}
.chatDetailsWrapper{
	float:left;
	width:100%;
	clear:both;
}
.charRoomItems{
	float:left;
	width:200px;
	padding:20px;
	border:1px solid #ffc8e6;
	text-align:center;
	cursor:pointer; 
	margin-right:20px;
	margin-top:10px;
	color:#730303;
	text-decoration: none;
	background: #c1bd27;
	font-weight: 600;
}
.charRoomItems:hover{
	background:#38c9d0;
	color:#ffffff;
}
.chatInterface{
	float: left;
    width: 60%;
    border: 1px solid #dcdcdc;
    min-height: 430px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
	padding:20px;
	margin-top: 40px;
	background: #42bd57;
}
.chatHistory{
	float: left;
    width: 100%;
    height: 190px;
    border: 1px solid #aeaeae;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2px 6px;
	background: #ececec;
}
.chatinput{
	position: absolute;
    bottom: 0;
	width:100%;
}
.chatinput textarea{
	position: absolute;
    bottom: 0;
	width:94%;
	box-sizing:border-box;
	margin-bottom:40px;
	padding:10px;
}
.sendButton{
	position: absolute;
    right: 40px;
    top: -22px;
}
.makeCenter{
	text-align: center;
}
.makeCenter h2{
	text-align: center;
    color: #ffffff;
    font-size: 50px;
}
.makeCenter a{
	text-align: center;
    color: #335d2c;
    font-size: 30px;
    text-decoration: underline;
}
.searchText{
	float: left;
    width: 100%;
    MARGIN-BOTTOM: 10PX;
    PADDING: 6px;
    font-size: 11px;
}
.chatHistorymsg {
	float: left;
	width: 100%;
	border-bottom: 1px solid #aeaeae;
	padding: 10px 10px 10px 0;
}
.textStyle{
	font-weight: 600;
}
.reverseText{
	position: absolute;
	/* Safari */
-webkit-transform: rotate(-60deg);



float: left;
}